log:
  level: WARNING

api:
  dashboard: true
  insecure: false
  debug: true

entryPoints:
  http:
    address: ":80"
    http:
      redirections:
        entryPoint:
          to: https
          scheme: https
  https:
    address: ":443"

serversTransport:
  insecureSkipVerify: true

providers:
  docker:
    exposedByDefault: false
  file:
    filename: /config.yml

certificatesResolvers:
  leresolver:
    acme:
      email: ${EMAIL}
      storage: /leresolver/acme.json
      dnsChallenge:
        provider: desec # https://go-acme.github.io/lego/dns/desec/
        resolvers:
          - "1.1.1.1:53"
          - "1.0.0.1:53"